@import "tailwindcss";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

.downloads-grid>div:nth-child(3n + 1) {
  @apply mb-0 lg:mb-16;
}

.downloads-grid>div:nth-child(3n + 2) {
  @apply my-0 lg:my-8;
}

.downloads-grid>div:nth-child(3n + 3) {
  @apply mt-0 lg:mt-16;
}